boto3==1.43.94
botocore==1.43.94
colorama==0.4.6
greenlet==3.5.6
iniconfig==2.3.0
jmespath==1.1.0
numpy==2.4.6
packaging==26.3
pandas==2.3.3
pluggy==1.6.0
psycopg==3.3.5
psycopg-binary==3.3.5
py4j==0.10.9.9
pyarrow==22.0.0
Pygments==2.21.0
pyspark==3.5.8
pytest==8.4.2
python-dateutil==2.9.0.post0
pytz==2026.3.post1
PyYAML==6.0.3
s3transfer==0.19.2
six==1.17.0
SQLAlchemy==2.0.53
typing_extensions==4.16.0
tzdata==2026.4
urllib3==2.7.0
